<div class="container general-container">
    <div class="row main-row">
        <div class="col-3">
            <ul>
                <li>
                    <button type="button" class="btn btn-" (click)="showHomePage()">Home</button>
                </li>
                <li>
                    <button type="button" class="btn btn-" (click)="showProfilePage()">Profile</button>
                </li>
                <li>
                    <button *ngIf="authService.loggedIn()" type="button" class="btn btn-" (click)="authService.logoutUser()">Log out</button>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
