<div class="center-contents">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header py-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Sign in to Twitter</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form input-fields">
                        <div class="form-floating my-4 username-input">
                            <input 
                                name ="username"
                                type="username" 
                                class="form-control" 
                                id="floatingUsername" 
                                placeholder="syyan"
                                [formControl]="userName_email">
                            <label for="floatingUsername">Username or Email</label>
                        </div>
                        <div class="form-floating my-4 password-input">
                            <input 
                                name = "password"
                                minlength="8"
                                maxlength="120"
                                required
                                type="password" 
                                class="form-control" 
                                id="floatingPassword" 
                                placeholder="Password"
                                [formControl]="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <button 
                                (click)="signIn()" 
                                class="btn btn-primary login-button" [disabled]="password.value == '' || userName_email.value == ''">
                                Log in
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>