<div class="row m-0 p-0 connect" style="height: 100%;">
    <div class="col-7 col-md-12 col-sm-12 col-12 p-0 main-content">
        <div class="row m-0 px-3 py-2">
            <a class="p-0 m-0" style="text-decoration: none; color: black; font-weight: bold">
                <h5 *ngIf="user" class="col p-0 m-0 main">{{user.twitter_handle}}</h5>
            </a>
        </div>
        <div class="row m-0 px-3 py-2 window-title">
            <h6 class="p-0 m-0" >
                <strong>
                    Followings
                </strong>
            </h6>
        </div>
        <app-follow-recommendation *ngFor="let user of users" [user]="user"></app-follow-recommendation>
    </div>
    <div class="col-lg-5 p-0 ms-auto sidebar-column">
        <div class="row m-0 p-0 fixed-scrollable">
            <app-trend-window></app-trend-window>
        </div>
    </div>
</div>