<div *ngIf="tweet" class="p-0 m-0 parent-container" style="z-index: -2;">
    <div *ngIf="tweet.retweet_id" class="row m-0 ms-4 ps-3 pt-1 retweet-field">
        <div class="col-auto p-0 d-flex align-items-center">
            <img src="https://img.icons8.com/material-rounded/96/536471/retweet.png" width="18px" height="18px" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">
        </div>
        <div class="col-auto p-0 ms-2 retweet-user" (click)="userClicked(tweet.retweet_user_id)">
            {{ tweet.retweet_user_id === authService.parsedToken() ? 'you' : tweet.retweet_twitter_handle}} Retweeted
        </div>
    </div>
    <div class="row p-0 m-0 px-3 py-2" (click)="tweetClicked()">
        <div class="col-auto profile-image">
            <div class="row m-0">
                <img *ngIf="tweet" src="{{tweet.profile_image}}" class="dp-image img-fluid img-rounded p-0" (click)="userClicked(tweet.user_id)" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">
            </div>
        </div>
        <div *ngIf="tweet" class="col-auto contents">
            <div class="row m-0 content-header">
                <div class="col-auto user-handle px-0" (click)="userClicked(tweet.user_id)" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false"><strong>{{tweet.twitter_handle}}</strong></div>
                <div class="col-auto user-name px-0 ps-1" (click)="userClicked(tweet.user_id)" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">@{{tweet.user_name}}</div>
                <div class="col-auto timestamp px-0 ps-1"> &#x2022; {{tweet.time_stamp * 1000 | date}}</div>
            </div>
            <div class="row m-0 p-0 content">
                <div class="col p-0">
                    <div class="row content-body m-0 p-0">
                        <div class="col p-0">
                            <div [innerHTML]="tweet.content | hashtag"></div>
                        </div>
                    </div>
                    <div *ngIf="tweet.media !== 'null' && tweet.media !== null" class="row-cols-2 m-0 p-0 py-2 media-content justify-content-start">
                        <img *ngFor="let media of tweetMedias" class="col media-img p-0" src="{{media}}" >
                    </div>
                    <div *ngIf="quotedTweet" class="row m-0 mb-2 px-3 pt-2 quoted-tweet-inside" (click)="quoutedTweetClicked()" (mouseenter)="tweetClickAvailable=false" (mouseleave)="tweetClickAvailable=true">
                        <div class="col p-0">
                            <div class="row m-0 content-header">
                                <div class="col-auto quote-user-handle px-0" ><strong>{{quotedTweet.twitter_handle}}</strong></div>
                                <div class="col-auto quote-user-name px-0 ps-1" >@{{quotedTweet.user_name}}</div>
                                <div class="col-auto timestamp px-0 ps-1"> &#x2022; {{quotedTweet.time_stamp * 1000 | date}}</div>
                            </div>
                            <div class="row m-0 p-0 content">
                                <div class="row content-body m-0 p-0">
                                    <div class="col p-0">{{quotedTweet.content}}</div>
                                </div>
                                <div *ngIf="quotedTweet.media !== 'null' && quotedTweet.media !== null" class="row-cols-2 m-0 p-0 py-2 media-content justify-content-start">
                                    <img *ngFor="let media of quotedTweetMedias" class="col media-img p-0" src="{{media}}" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0 content-footer" >
                        <div class="col p-0 reply">
                            <div class="row m-0 p-0">
                                <div class="col-auto reply-image">
                                    <img src="https://img.icons8.com/small/64/536471/twitter-reply.png" width="18px" height="18px">
                                </div>
                            </div>
                        </div>
                        <div class="col p-0 retwet drop-down-container" clickOutside (clickOutside)="clickedOutside()" >
                            <div class="row m-0 p-0 drop-down">
                                <div *ngIf="retweetClicked"class="col p-0 drop-down-menu" >
                                    <div (click)="Retweet()" class="row m-0 p-3 item retweet" [ngStyle]="{'color' : retweeted? '#00ba7c' : '#536471'}" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">
                                        <div class="col-auto p-0 me-2 icon d-flex justify-content-start">
                                            <img src="{{retweetImgUrl}}" width="18px" height="18px">
                                        </div>
                                        <div class="col p-0 text">
                                            {{retweeted? 'Undo Retweet' : 'Retweet'}}
                                        </div>
                                    </div>
                                    <div class="row m-0 p-3 item quoute-tweet" (click)="clickedQuoteModal()" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">
                                        <div class="col-auto p-0 me-2 icon d-flex justify-content-start">
                                            <img src="https://img.icons8.com/material-outlined/96/536471/pencil--v1.png" width="18px" height="18px"/>
                                        </div>
                                        <div class="col p-0 text">
                                            Quote tweet
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto retweet-image" (click)="onRetweetClicked()" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">
                                    <img src="{{retweetImgUrl}}" width="18px" height="18px">
                                </div>
                                <div *ngIf="retweetCount > 0" class="col like-count m-0 p-0 ps-1 align-self-center" [ngStyle]="{'color' : retweeted ? '#00ba7c' : '#536471'}">{{retweetCount}}</div>
                            </div>
                        </div>
                        <div class="col p-0 like">
                            <div class="row m-0 p-0">
                                <div class="col-auto heart-image p-0">
                                    <img (click)="clickLike()" src="{{likedImgUrl}}" width="18px" height="18px" (mouseleave)="tweetClickAvailable=true" (mouseenter)="tweetClickAvailable=false">
                                </div>
                                <div *ngIf="likeCount > 0" class="col like-count m-0 p-0 ps-1 align-self-center" [ngStyle]="{'color' : liked ? '#F91880' : '#536471'}">{{likeCount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>