.dp-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.dp-image:hover {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    cursor: pointer;
}

.profile-image {
    padding: 0;
    margin-right: 10px;
}

.contents {
    padding: 0;
    width: calc(100% - 60px);
}

.tweet-container {
    border-bottom: 1px solid #cfd9de;
    z-index: -2;
}

.user-handle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-name:hover{
    cursor : pointer;
}
.tweet-container:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}

.user-name {
    z-index: 1;
}
.user-handle {
    z-index: 1;
}