<div class="row px-3 py-2 m-0 create-tweet">
    <div class="col-auto profile-image">
        <div class="row m-0">
            <img *ngIf="user" src="{{user.profileImage}}" class="dp-image img-fluid img-rounded p-0" (click)="userClicked()">
        </div>
    </div>
    <div class="col new-tweet">
        <div class="row m-0">
            <div class="form-floating p-0">
                <textarea [(ngModel)]="content" class="form-control tweet-box" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 70px"></textarea>
                <label for="floatingTextarea2">What's Happening?</label>
              </div>
        </div>
        <div class="row m-0 justify-content-end">
            <div class="col-auto p-0 mt-2">
                <button type="submit" class="btn btn-primary tweet-button" (click)="newTweet()" [disabled]="content == ''" style="width: 100%; border-radius: 25px;">Tweet</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="newTweets != 0" class="row m-0 p-0 refresh-page justify-content-center align-items-center" (click)="onClickShowTweets()">
    Show {{newTweets}} Tweet(s)
</div>
    